[data-color-mode*="dark"],
[data-color-mode*="dark"] body {
  --color-canvas-subtle: #161b22;
}

[data-color-mode*="light"],
[data-color-mode*="light"] body {
  --color-canvas-subtle: #f6f8fa;
  -webkit-text-fill-color: rgb(116, 108, 108);
}

.rule-modal {
  width: 600px;
  height: 400px;
  /* margin: 'auto'; */

  border-radius: 4px; 
  border-color: rgb(184, 178, 190);
  border-width: 4px;
  background-color: rgb(220, 203, 203);
  margin-left: 400px;
  margin-top: -100px;
  /* opacity: 0.8; */


}

.ui.modal {
  margin-top: 0 !important;
  }